.firstdiv{
    height: 60vh;
    color: white;
    background-color: #516571;
}
.seconddiv{
    background-color: #161e2d;
    height: 60vh;

}
.imgstyle{
    height: 300px;
    width: 300px;
}
.searchinput{
    background-color: black;
    color: white;
}