.navbarstyle {
  color: #1E2D40 !important;
  background-color: #0ED7A8 !important;
}

.navstyle {
  color: #1E2D40 !important;
}

.navstyle:hover {
  padding-bottom: 5px;
  color: #0ED7A8 !important;
  background-color: #1E2D40 !important;
  border-radius: 2px;
}

.dropdown_color {
  color: black !important;
}


.dropdown_item {
  background-color: #1E2D40 !important;
  color: rgb(8, 8, 8) !important;
}

.dropdown_text:hover {
  background-color: #0ED7A8 !important;
  color: black !important;
}

.signUp_button {
  width: 120px;
  height: 40px;
  background-color: #1E2D40 !important;
  color: white;
  border-radius: 7px;
}

.signUp_button:hover {
  background-color: #0ED7A8 !important;
  color: rgb(0, 0, 0) !important;
}