.navbarstyle{

  color:#1E2D40;
    background-color: #0ED7A8;
}
.navstyle{  
     color:#1E2D40 ;
     color: white;

   
}
.imgstyle{
  height: 60px ;
  width: 60px;
}
.navstyle:hover{
    padding-bottom: 5px;
    background-color:#1E2D40 ;
    color: white;
  border-radius:2px ;
}
