.boxoo {
    background-color: #0ed7a8;
    height: 230px;
    max-width: 300px !important;
    border-radius: 25px;
    box-shadow: 44px 44px 49px #172231, -44px -44px 49px #25384f79;
  }
  
  h4{
      max-width: 180px ;
  }