.bg-col{
    background-color:#1E2D40;
    padding: 20px;
}
.row{
    display: flex;
    justify-content: center;
   
}
#boxx-text{
    color:#1E2D40;
}
.card-col{
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: justify;
    
}
#cardcolor{
    background-color:#0ED7A8 ;
    color:#1E2D40;
}

#form-col{
   
    background-color: #1E2D40;
    color: aliceblue;
}
.banner{
    display: flex;
}
.title{
    font-weight: 700;
}
#btn-col{
    color: rgb(248, 238, 238);
    background-color: #1E2D40;
}
.text-area-size{
    height: 100px;
    resize: none;
}
.icon-pad{
    margin:8px;
}
#icon-hover:hover{
    transform: scale(1.5);
    transition-duration: 1s;
}
/*map css*/
.mapouter{position:relative;text-align:right;height:118px;width:300px;
}
.gmap_canvas {overflow:hidden;background:none!important;height:118px;width:300px;}